<% provide(:title, 'Help') %>
<h1>Каталог вправ</h1>
<p>
  Оберіть вправу:
</p>

<p><a href="#">Присідання</a></p>

<p><a href="#">Пресс</a></p>

<p><a href="#">Жим штанги</a></p>

<p><a href="#">Біцепс з гантелями</a></p>

<p><a href="#">Метелик</a></p>

<p><a href="#">Лавка Скотта</a></p>