@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Marmelad&subset=latin,cyrillic);

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
	font-family: Marmelad, sans-serif;
}

a {color: #6f6f6f}
a:hover {color: #333}


.navbar.navbar-fixed-top.navbar-inverse {
	position: static;
}

.container.middle {
	padding-top: 30px;
}

.profile {
	font-size: 18px;
}

.profile .rightst  div {
	padding: 6px 0px;
}

.profile .rightst {
	float: left;
}

.profile .user_name {
	font-size: 18px;
	text-transform:capitalize;
	padding: 10px 0px;
}

.profile .avatar {
	height: 100px;
	width: 100px;
	float: left;
	border-radius: 5px;
	padding-right: 10px;
}

.profile .avatar img {
	height: 100%;
	width: 100%;
}

.navbar .nav.pull-right {
	display: inline-block;
	float: none;
}

.navbar .nav.pull-right li {
	height: 105px;
}

.home.item > a {
	background-image: url("nav.png");
	background-repeat: no-repeat;
	background-position: center 0px;
	background-position: center -960px;
	height: 100px;
	padding: 0px 15px;
}

.home.item > a:hover {
	background-position: center -1081px;
}

.home.item.active > a {
	background-position: center -1081px;
}

.training.item > a {
	background-image: image-url("nav.png");
	background-repeat: no-repeat;
	background-position: center -1442px;
	height: 100px;
	padding: 0px 15px;
}

.training.item > a:hover {
	background-position: center -1564px;
}

.training.item.active > a {
	background-position: center -1564px;
}

.diet.item.active > a {
	background-position: center -600px;
	color: #fff;
	background-color: transparent;
	box-shadow: none;
}

.diet.item > a {
	background-image: image-url("nav.png");
	background-repeat: no-repeat;
	background-position: center -480px;
	height: 100px;
	padding: 0px 15px;
}

.diet.item > a:hover {
	background-position: center -600px;
}

.diet.item.active > a {
	background-position: center -600px;
	color: #fff;
	background-color: transparent;
	box-shadow: none;
}

.help.item > a {
	background-image: image-url("nav.png");
	background-repeat: no-repeat;
	background-position: center -720px;
	height: 100px;
	padding: 0px 15px;
}

.help.item > a:hover {
	background-position: center -840px;
}

.help.item.active > a {
	background-position: center -840px;
	color: #fff;
	background-color: transparent;
	box-shadow: none;
}

.anthropological.item > a {
	background-image: image-url("nav.png");
	background-repeat: no-repeat;
	background-position: center -240px;
	height: 100px;
	padding: 0px 15px;
}

.anthropological.item > a:hover {
	background-position: center -360px;
}

.anthropological.item.active > a {
	background-position: center -360px;
	color: #fff;
	background-color: transparent;
	box-shadow: none;
}

.account.item > a {
	background-image: image-url("nav.png");
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 100px;
	padding: 0px 15px;
}

.account.item > a:hover {
	background-position: center -120px;
}

.account.item.active > a {
	background-position: center -120px;
	color: #fff;
	background-color: transparent;
	box-shadow: none;
}

.signin.item > a {
	background-image: image-url("nav.png");
	background-repeat: no-repeat;
	background-position: center -1202px;
	height: 100px;
	padding: 0px 15px;
}

.signin.item > a:hover {
	background-position: center -1322px;
}

.signin.item.active > a {
	background-position: center -1322px;
	color: #fff;
	background-color: transparent;
	box-shadow: none;
}

.item.active > a:focus {
	background-color: inherit;
	box-shadow: none;
}

.item.active > a:hover {
	background-color: transparent;
	box-shadow: none;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: transparent;
	box-shadow: none;
}

.close_buttons {
	background-image: image-url("closeb.png");
	background-position: 0 0px;
	width: 22px; height: 22px;
	background-repeat: no-repeat;
	display: block;
}

.close_td {
	width: 22px;
}

.close_buttons:hover {
	background-position: 0 -72px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #b6b6b6;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #333;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: none;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.logo_img {
	margin-left: 15px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
/* forms */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* custom */
.navbar-inner {
	min-height: 50px;
}
.navbar .nav > li > a {
	height: 100px;
	padding: 0px 15px;
	min-width: 100px;
	display: table-cell;
	vertical-align: bottom;
}

.navbar .nav.pull-right .dropdown-menu li {
	height: auto;
}

.dropdown-menu {
	padding: 10px;
}

.dropdown-menu .divider {
	border: 1px solid #333;
}

#logo {
	font-family: Marmelad, sans-serif;
	font-size: 28px;
	padding: 0;
	margin: 0;
	line-height: 50px;
 }
.navbar .container {
	text-align: center;
	height: 64px;
	display: table;
	padding-bottom: 10px;
}
.navbar .container .wrap {
	line-height: 50px;
	text-align: center;
	height: 64px;
	display: table-cell;
}

.navbar .container_nav {
	width: 940px;
	height: 115px;
	margin: 0 auto;
	text-align: center;
}

.container_nav nav {

}

.hero-unit {

}

.container.middle {
	font-family: Marmelad, sans-serif;
}

.navbar-inverse .nav > .main_link > a {
	color: #69ADEB;
}

.nav.pull-right > li {
	font-size: 20px;
	font-family: Marmelad, sans-serif;
}

.footer {
	font-family: Marmelad, sans-serif;
	font-size: 18px
}

.main_data {
	min-width: 600px;
	float: left;
}

.main_data h1 {
	text-align: left;
}

.right_side_bar {
	float:right;
	top: 60px;
	width: 300px;
	height: 300px;
	border: 2px solid #333;
	padding: 10px;
	border-radius: 10px;
	background: #333;
	color: #fff;
	
	background: -moz-linear-gradient( center top, #282828 5%, #333333 100% );
	background: -o-linear-gradient(bottom, #282828 5%, #333333 100%);
	background: -o-linear-gradient(top,#282828,333333);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #282828), color-stop(1, #333333) );
	background-color: #282828;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282828", endColorstr="#333333");
}

.right_side_bar form input[type="text"], .right_side_bar form select {
	height: 54px!important;
	line-height: 40px;
	padding: 6px;
	margin-top: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	font-size: 18px;
}

.right_side_bar .btn-primary {
	border: 1px solid #898989;
}

.right_side_bar h1, .right_side_bar h2, .right_side_bar h3 {
	color: #fff;
} 

.right_side_bar select option[value] {

}

select>option:hover
    {
        color: #1B517E;
        cursor: pointer;
		background: #CCC;
    }

h1, h2, h3 {
	font-family: 'Marmelad', sans-serif;
}


.minf {
	float: left;
	font-size: 18px;
	font-family: 'Marmelad', sans-serif;
	color: #fff;
 }
 
.minf.first input {
	margin-left: 0px;
}
.minf input {
	min-height: 54px;
	line-height: 40px;
	height: 54px!important;
	max-width: 72px;
	margin: 0px 10px;
	padding: 6px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	font-size: 18px;
	
}

.right_side_bar .btn {
	float: left;
	margin-top: 20px;
	clear: both;
}

.right_side_bar input {
	font-family: Marmelad, sans-serif;
}

.datet {
	font-size: 18px;
	font-family: 'Marmelad', sans-serif;
	display: inline-block;
	padding:0px 15px 0px 36px;
	border-bottom: 2px solid #333;
	background-image: image-url("calendar.png");
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 45px;
	height: 45px;
}

.map_pn {
	padding: 5px 0px;
	overflow: hidden;
}

.next_tr, .next_day {
	float: right;
}

.back_day, .back_tr  {
	float: left;
}

.map_pn .back_day a {
	float: left;
	padding:0px 5px 0px 30px;
	background-image: image-url("arrows.png");
	background-repeat: no-repeat;
	background-position: left -140px;
	line-height: 30px;
	height: 30px;
	color: #828282;
}

.map_pn .back_day a:hover {
	background-position: left -212px;
	color: #333;
}

.map_pn .next_day a {
	float: right;
	padding:0px 30px 0px 5px;
	background-image: image-url("arrows.png");
	background-repeat: no-repeat;
	background-position: right 4px;
	line-height: 30px;
	height: 30px;
	color: #828282;
}

.map_pn .next_day a:hover {
	background-position: right -68px;
	color: #333;
}

.map_pn .back_tr a {
	float: left;
	padding:0px 5px 0px 30px;
	background-image: image-url("arrows.png");
	background-repeat: no-repeat;
	background-position: left -428px;
	line-height: 30px;
	height: 30px;
	color: #828282;
}

.map_pn .back_tr a:hover {
	background-position: left -500px;
	color: #333;
}

.map_pn .next_tr a {
	float: right;
	padding:0px 30px 0px 5px;
	background-image: image-url("arrows.png");
	background-repeat: no-repeat;
	background-position: right -284px;
	line-height: 30px;
	height: 30px;
	color: #828282;
}

.map_pn .next_tr a:hover {
	background-position: right -356px;
	color: #333;
}

.hero-unit .bottom_h {font-size: 36px;}

.inddata {margin-left: 10px; font-size: 18px;}

.nameindd {font-size: 24px; }

.CSSTableGenerator {
	width: 100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 2px solid #ccc;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	margin: 0;
	padding: 0;
 }
 
.CSSTableGenerator
{
	border: 1px solid #000000;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin: 0px;
	moz-border-radius-bottomleft: 0px;
	moz-border-radius-bottomright: 0px;
	moz-border-radius-topleft: 0px;
	moz-border-radius-topright: 0px;
	padding: 0px;
	webkit-border-bottom-left-radius: 0px;
	webkit-border-bottom-right-radius: 0px;
	webkit-border-top-left-radius: 0px;
	webkit-border-top-right-radius: 0px;
	width: 100%;
}
.CSSTableGenerator table
{
	border-collapse: collapse;
	border-spacing: 0;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.CSSTableGenerator tr:last-child td:last-child
{
	border-bottom-right-radius: 0px;
	moz-border-radius-bottomright: 0px;
	webkit-border-bottom-right-radius: 0px;
}
.CSSTableGenerator table tr:first-child td:first-child
{
	border-top-left-radius: 0px;
	moz-border-radius-topleft: 0px;
	webkit-border-top-left-radius: 0px;
}
.CSSTableGenerator table tr:first-child td:last-child
{
	border-top-right-radius: 0px;
	moz-border-radius-topright: 0px;
	webkit-border-top-right-radius: 0px;
}
.CSSTableGenerator tr:last-child td:first-child
{
	border-bottom-left-radius: 0px;
	moz-border-radius-bottomleft: 0px;
	webkit-border-bottom-left-radius: 0px;
}
.CSSTableGenerator tr:hover td
{
}
.CSSTableGenerator tr:nth-child(odd)
{
	background-color: #c6c6c6;
}
.CSSTableGenerator tr:nth-child(even)
{
	background-color: #ffffff;
}
.CSSTableGenerator td
{
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	color: #000000;
	font-size: 10px;
	font-weight: normal;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}
.CSSTableGenerator tr:last-child td
{
	border-width: 0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child
{
	border-width: 0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child
{
	border-width: 0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td
{
	background: -moz-linear-gradient( center top, #282828 5%, #333333 100% );
	background: -o-linear-gradient(bottom, #282828 5%, #333333 100%);
	background: -o-linear-gradient(top,#282828,333333);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #282828), color-stop(1, #333333) );
	background-color: #282828;
	border: 0px solid #000000;
	border-width: 0px 0px 1px 1px;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282828", endColorstr="#333333");
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.CSSTableGenerator tr:first-child:hover td
{
	background: -moz-linear-gradient( center top, #282828 5%, #333333 100% );
	background: -o-linear-gradient(bottom, #282828 5%, #333333 100%);
	background: -o-linear-gradient(top,#282828,333333);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #282828), color-stop(1, #333333) );
	background-color: #282828;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282828", endColorstr="#333333");
}
.CSSTableGenerator tr:first-child td:first-child
{
	border-width: 0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child
{
	border-width: 0px 0px 1px 1px;
}
	
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
		background-color: inherit;
	}
	
.CSSTableGenerator .indname {
	font-size: 15px;
	font-weight: bold;
}

.CSSTableGenerator .inddata {
	font-size: 15px;
	font-weight: bold;
}

.divider {
	border: 2px solid;
}	

.btn-primary {
	background: rgb(69,72,77);
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
	background: rgb(39,40,43);
	background: -moz-linear-gradient(top,  rgba(39,40,43,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,40,43,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(39,40,43,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(39,40,43,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(39,40,43,1) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(39,40,43,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27282b', endColorstr='#000000',GradientType=0 );
}

.dropdown-menu > li > a:hover {
	background: #333;
	color: #fff;
}

.body_wrap {
	position: relative;
}

.bodyhuman {
	height: 400px;
	width: 600px;
	margin: 0 auto;
	background-image: image-url("body.png");
	background-repeat: no-repeat;
	position: relative;
}

.body_wrap .inddata.neck {
	position: absolute;
	top: 18px;
	left: 100px;
}

.body_wrap .datas span {
	font-size:12px;
}

.body_wrap .inddata.pecs {
	position: absolute;
	top: 93px;
	left: 100px;
}

.body_wrap .inddata.arms {
	position: absolute;
	top: 180px;
	left: 100px;
}

.body_wrap .inddata.waistline {
	position: absolute;
	top: 127px;
	right: 100px;
}

.body_wrap .inddata.thigh {
	position: absolute;
	top: 236px;
	right: 100px;
}

.body_wrap .inddata.triceps_surae {
	position: absolute;
	top: 305px;
	right: 100px;
}

.body_wrap .inddata.weight {
	position: absolute;
	bottom: 60px;
	left: 100px;
}

.bodyhuman .minf {
	float: none;
	color: #333
}

.minf.neck {
	position: absolute;
	top: 18px;
	left: -2px;
}

.minf.pecs {
	position: absolute;
	top: 93px;
	left: -2px;
}

.minf.arms {
	position: absolute;
	top: 180px;
	left: -2px;
}

.minf.waistline {
	position: absolute;
	top: 127px;
	right: 0px;
}

.minf.thigh {
	position: absolute;
	top: 236px;
	right: 0px;
}

.minf.triceps_surae {
	position: absolute;
	top: 305px;
	right: 0px;
}

.minf.weight {
	position: absolute;
	left: -2px;
	bottom: 060px;
}

 
.btn.btn-large.btn-primary.boddybutt {
	position: absolute;
	left: -2px;
	bottom: 0px;
}
.body_wrap .inddata {
	display: inline-block;
	height: 50px;
	margin: 0;
	width: 50px;
	border-radius: 25px;
	border: 2px solid #333;
	line-height: 50px;
	text-align: center;
}