<footer class="footer">
<div class="container">
  <small>
    by Vitali Kravchenko
  </small>
  <nav>
    <ul>
      <li><%= link_to "Про нас",   about_path %></li>
      <li><%= link_to "Контакти", contact_path %></li>
      <li><a href="#">Новини</a></li>
    </ul>
  </nav>
</footer>
</div>